.topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 16px;
}
.left {
  display: flex;
  gap: 8px;
  justify-content: center;
  white-space: nowrap;
}
img{
  
}