/* 입력폼 */
.form {
  display: flex;
  flex-direction: column;
  margin: 0px 16px;
}
.inputWrapper {
  position: relative;
  height: 48px;
}
.lock {
  position: absolute;
  margin-left: 28px;
  top: 50%;
  transform: translateY(-50%);
}
.eye {
  position: absolute;
  right: 28px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}
.input {
  width: 100%;
  height: 100%;
  padding: 13px 24px;
  padding-left: 52px;
  color: #8a949e;
  font-size: 15px;
  margin-bottom: 16px;
  border-radius: 40px;
  border: 2px solid #e6e8ea;
  box-sizing: border-box;
}
.label {
  text-align: start;
  padding-left: 12px;
  margin-bottom: 14px;
  margin-top: 34px;
}
.error {
  color: #6d7882;
  font-size: 13px;
  text-align: start;
  margin-left: 16px;
  margin-top: 8px;
}

/* 수정하기 버튼 */
.editbtn {
  display: flex;
  background-color: #cdd1d5;
  font-size: 17px;
  font-weight: 700;
  border-radius: 60px;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  height: 56px;
  line-height: 1;
  color: #fff;
  margin-top: 118px;
  border: none;
}
.editbtn:active {
  background-color: #fe4f1a;
}
